@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
        body {
            font-family: 'IBM Plex Sans', sans-serif;
        }
        
canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}